[submodule "Lib/nanopb"]
	path = Lib/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "Lib/HAL"]
	path = Lib/HAL
	url = git@github.com:USSTRocketry/HAL.git
[submodule "Lib/Tisdale"]
	path = Lib/Tisdale
	url = git@github.com:USSTRocketry/Tisdale.git
[submodule "Lib/Carrot-River"]
	path = Lib/Carrot-River
	url = git@github.com:USSTRocketry/Carrot-River.git
